html{
	font-family: 'Droid Sans', sans-serif;
}
body{
	background: #f9e933;
	font-size: 100%;
}
h1,h2,h3,h4,h5{
	font-family: 'Ubuntu', sans-serif;
}
h1{
	font-size: xx-large;
	padding: 25px;
	padding-left: 250px;

}
h2{
	font-size: x-large;
}
h3{
	font-size: large;
}
header, main, footer {
	min-width: 855px;
}
header.container,main.container,footer.container{
	max-width: 855px;
	margin: auto;
}
header{
	background: white;

	overflow: auto;
}
header h1{
	text-decoration: none;
	float: left;
	width: 570px;
}
nav{
	text-decoration: none;
	color: gray;
}
header nav{
	float: right;
	width: 285px;
	
}
main{
	background:white;
	overflow: auto;
	text-align: left;
	padding: 25px;
	padding-left: 250px;
}
.details{
	float: left;
	width: 570px;
}
.image{
	float: right;
	width: 285px;
}
footer{
	clear: both;
	overflow: auto;
	padding: 25px;
}
.sitemap{
	color: gray;
	float: right;
	width: 285px;
}
.contact{
	float: left;
	width: 570px;
}